/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
1 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

body {
  margin: 0px;
}

.nav {
  height: 74px;
  background-color: #2a2b24;
}

.nav-inner {
  margin: 0 auto;
  padding: 1.2em 1.4em 1.3em 1.7em;
}

.nav-inner__title {
  color: white;
}

.mid {
  height: 150px;
  background-color: #3D3E38;
}

.low {
  height: 2800px;
  background-color: #F8F5F0;
}
