/* global styles */
/* line 3, ../sass/global.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/global.scss */
html {
  font: 20px "freight-sans-pro", "Verdana", sans-serif;
  color: #3e3f3a;
}

/* line 13, ../sass/global.scss */
body {
  margin: 0px;
}

/* segment.io nav */
/* line 3, ../sass/blocks/nav.scss */
.nav {
  background-color: #2a2b24;
}

/* line 7, ../sass/blocks/nav.scss */
.nav-inner {
  font-size: 16px;
  color: #ece6da;
  position: relative;
  z-index: 10;
  background: #2a2b24;
  margin: 0 auto;
  padding: 1.2em 1.4em 1.3em 1.7em;
}

/* line 21, ../sass/blocks/nav.scss */
.nav-right {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) translate3d(0, 0, 0);
  transform: translateY(-50%) translate3d(0, 0, 0);
}

/* line 29, ../sass/blocks/nav.scss */
.nav-link {
  white-space: nowrap;
  opacity: .5;
  cursor: pointer;
  transition: opacity 200ms ease-in;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 7px;
}

/* line 42, ../sass/blocks/nav.scss */
.nav-item {
  margin-left: 10px;
  display: inline-block;
}

/* line 47, ../sass/blocks/nav.scss */
.nav-title {
  color: white;
}

/* line 51, ../sass/blocks/nav.scss */
.project-button {
  background: #353631;
  border-radius: 4px;
  color: #838077;
  font-size: 14px;
  line-height: 34px;
  padding: 0 10px 0 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 68, ../sass/blocks/nav.scss */
.project-button__label {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

/* line 76, ../sass/blocks/nav.scss */
.project-button__label--highlight {
  color: #b4a995;
}

/* line 80, ../sass/blocks/nav.scss */
.project-button__caret {
  position: absolute;
  top: 11px;
  right: 10px;
  display: inline-block;
  vertical-align: middle;
  height: 9px;
  width: 16px;
  cursor: pointer;
}

/* line 95, ../sass/blocks/nav.scss */
.nav-tabs__button, .nav-tabs__button--active {
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 40px;
  margin: 0 1px;
  background: #353631;
  text-align: center;
  position: relative;
}
/* line 105, ../sass/blocks/nav.scss */
.nav-tabs__button i, .nav-tabs__button--active i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  transition: opacity 500ms linear;
  opacity: 0.5;
  color: #B5AA97;
}
/* line 118, ../sass/blocks/nav.scss */
.nav-tabs__button:hover i, .nav-tabs__button--active:hover i {
  opacity: 1;
}

/* line 124, ../sass/blocks/nav.scss */
.nav-tabs__button:first-child, .nav-tabs__button--active:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 129, ../sass/blocks/nav.scss */
.nav-tabs__button:last-child, .nav-tabs__button--active:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 134, ../sass/blocks/nav.scss */
.nav-tabs__button--active {
  background-color: #5CCC5C;
  color: white;
  width: auto;
  text-decoration: none;
}
/* line 141, ../sass/blocks/nav.scss */
.nav-tabs__button--active i {
  display: block;
  color: white;
  opacity: 1;
  left: 20px;
}

/* line 149, ../sass/blocks/nav.scss */
.nav-tabs__label {
  line-height: 34px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 15px 0 35px;
}

/* line 157, ../sass/blocks/nav.scss */
.account-actions__button {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
}

/* line 166, ../sass/blocks/nav.scss */
.account-actions__drop {
  display: inline-block;
}

/* line 1, ../sass/blocks/graph.scss */
.graph {
  height: 150px;
  background-color: #3D3E38;
  position: relative;
}

/* line 7, ../sass/blocks/graph.scss */
.graph-toggle-button {
  transition: all 250ms linear;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #A6C776;
  border: none;
  padding: 1.0625em 1.25em;
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  color: #F8F5F0;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  background-color: #eb7952;
  position: absolute;
  z-index: 1;
  bottom: 1em;
  left: 1em;
  width: 90px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: .65em;
  font-size: 14px;
}

/* line 21, ../sass/blocks/graph.scss */
.graph-toggle-button__icon--pause {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  padding-right: 0.6em;
}
/* line 46, ../sass/global.scss */
.graph-toggle-button__icon--pause:before {
  content: "\f04c";
}

/* line 4, ../sass/blocks/request_list.scss */
.request {
  position: relative;
  padding: 0 1.5em;
  background-color: #f8f5f0;
  border-bottom: 1px solid rgba(236, 230, 218, 0.6);
}

/* line 11, ../sass/blocks/request_list.scss */
.request:last-child {
  border-bottom: none;
}

/* header */
/* line 17, ../sass/blocks/request_list.scss */
.request-header {
  padding: 14px 0px;
}

/* line 21, ../sass/blocks/request_list.scss */
.request-header__icon, .request-header__icon--js, .request-header__icon--ruby {
  color: #5D7539;
  float: left;
  width: 30px;
  height: 30px;
  margin-top: .1em;
  margin-right: .7em;
  border: 2px solid #A7C67A;
  background-color: #A7C67A;
  border-radius: 500px;
  /* background alignment */
  padding: 3px 0px 0px 2px;
}

/* line 35, ../sass/blocks/request_list.scss */
.request-header__icon--js {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* line 58, ../sass/global.scss */
.request-header__icon--js:before {
  content: "\f1cc";
}

/* line 41, ../sass/blocks/request_list.scss */
.request-header__icon--ruby {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* line 52, ../sass/global.scss */
.request-header__icon--ruby:before {
  content: "\f219";
}

/* line 47, ../sass/blocks/request_list.scss */
.request-header__type {
  float: left;
  position: relative;
  min-width: 90px;
  margin-right: .7em;
  -webkit-font-feature-settings: "smcp", "c2sc";
  -moz-font-feature-settings: "smcp", "c2sc";
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  color: #736448;
}

/* body */
/* line 65, ../sass/blocks/request_list.scss */
.request-body, .request-body--expanded {
  position: relative;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition-duration: 500ms;
  transition-property: opacity, max-height, padding;
}

/* line 74, ../sass/blocks/request_list.scss */
.request-body--expanded {
  padding-top: .7em;
  padding-bottom: .7em;
  max-height: 3.5em;
}

/* line 2, ../sass/debugger.scss */
.low {
  height: 2800px;
  background-color: #F8F5F0;
}
