/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
1 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 7, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/main.scss */
html {
  font: 20px "freight-sans-pro", "Verdana", sans-serif;
  color: #3e3f3a;
}

/* line 17, ../sass/main.scss */
body {
  margin: 0px;
}

/* line 21, ../sass/main.scss */
.nav {
  background-color: #2a2b24;
}

/* line 25, ../sass/main.scss */
.nav-inner {
  font-size: 16px;
  color: #ece6da;
  position: relative;
  z-index: 10;
  background: #2a2b24;
  margin: 0 auto;
  padding: 1.2em 1.4em 1.3em 1.7em;
}

/* line 39, ../sass/main.scss */
.nav-right {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) translate3d(0, 0, 0);
  transform: translateY(-50%) translate3d(0, 0, 0);
}

/* line 47, ../sass/main.scss */
.nav-link {
  white-space: nowrap;
  opacity: .5;
  cursor: pointer;
  transition: opacity 200ms ease-in;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 7px;
}

/* line 60, ../sass/main.scss */
.nav-item {
  margin-left: 10px;
  display: inline-block;
}

/* line 65, ../sass/main.scss */
.nav-title {
  color: white;
}

/* line 69, ../sass/main.scss */
.project-button {
  background: #353631;
  border-radius: 4px;
  color: #838077;
  font-size: 14px;
  line-height: 34px;
  padding: 0 10px 0 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 86, ../sass/main.scss */
.project-button__label {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

/* line 94, ../sass/main.scss */
.project-button__label--highlight {
  color: #b4a995;
}

/* line 98, ../sass/main.scss */
.project-button__caret {
  position: absolute;
  top: 11px;
  right: 10px;
  display: inline-block;
  vertical-align: middle;
  height: 9px;
  width: 16px;
  cursor: pointer;
}

/* line 113, ../sass/main.scss */
.nav-tabs__button, .nav-tabs__button--active {
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 40px;
  margin: 0 1px;
  background: #353631;
  text-align: center;
  position: relative;
}
/* line 123, ../sass/main.scss */
.nav-tabs__button i, .nav-tabs__button--active i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  transition: opacity 500ms linear;
  opacity: 0.5;
  color: #B5AA97;
}
/* line 136, ../sass/main.scss */
.nav-tabs__button:hover i, .nav-tabs__button--active:hover i {
  opacity: 1;
}

/* line 142, ../sass/main.scss */
.nav-tabs__button:first-child, .nav-tabs__button--active:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 147, ../sass/main.scss */
.nav-tabs__button:last-child, .nav-tabs__button--active:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 152, ../sass/main.scss */
.nav-tabs__button--active {
  background-color: #5CCC5C;
  color: white;
  width: auto;
  text-decoration: none;
}
/* line 159, ../sass/main.scss */
.nav-tabs__button--active i {
  display: block;
  color: white;
  opacity: 1;
  left: 20px;
}

/* line 167, ../sass/main.scss */
.nav-tabs__label {
  line-height: 34px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 15px 0 35px;
}

/* line 175, ../sass/main.scss */
.mid {
  height: 150px;
  background-color: #3D3E38;
}

/* line 180, ../sass/main.scss */
.low {
  height: 2800px;
  background-color: #F8F5F0;
}

/* line 185, ../sass/main.scss */
.account-actions__button {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
}

/* line 194, ../sass/main.scss */
.account-actions__drop {
  display: inline-block;
}
