.graph {
  height: 150px;
  background-color: #3D3E38;
  position: relative;
}

.graph-toggle-button {
  @include btn;
  background-color: #eb7952;
  position: absolute;
  z-index: 1;
  bottom: 1em;
  left: 1em;
  width: 90px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
  cursor: pointer;
  padding: .65em;
  font-size: 14px;
}

.graph-toggle-button__icon--pause {
  @include fa;
  @include fa-pause;
  padding-right: 0.6em;
}

.graph-toggle-button__label {

}
